$default-font-size: 16px;
$default-font-family: Arial, Helvetica, sans-serif;

$font-warnes: 'Warnes', Arial, Helvetica, sans-serif;

$color-light: #FFFFFF;
$color-grey: #CDCDCD;
$color-green: #008000;
$color-blue-light: #9b9bf5;
$color-blue: #116295;
$color-dark: #000000;

$color-bg-gradient: radial-gradient(circle at 23.82% 34.63%, #090812, transparent 76%),radial-gradient(circle at 84% 49.18%, #09140e, transparent 100%),radial-gradient(circle at 60.44% 13.04%, #0d0d04, transparent 1%),radial-gradient(circle at 62.84% 74.51%, #0f090f, transparent 89%),radial-gradient(circle at 35.11% 80.66%, #0d0602, transparent 4%),radial-gradient(circle at 50% 50%, #050505, #050505 100%);
