.fs--1 { font-size: 1rem; }
.fs--2 { font-size: 2rem; }
.fs--3 { font-size: 3rem; }

.w--f { width: 100%; }
.w--1 { width: 1rem; }
.w--2 { width: 2rem; }
.w--3 { width: 3rem; }

.h--f { height: 100%; }
.h--1 { height: 1rem; }
.h--2 { height: 2rem; }
.h--3 { height: 3rem; }

.ta--c { text-align: center; }
.va--m { vertical-align: middle; }

.d--f { display: flex; }
.d--t { display: table; }
.d--tc { display: table-cell; }
.d--ib { display: inline-block; }

.pos--r { position: relative; }
.pos--a { position: absolute; }

.top--0 { top: 0; }
.left--0 { left: 0; }

.bg--tr { background: rgba(0, 0, 0, .5); }

